
.banner-div {
    height: 400px;
    width: 900px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('./images/Banner\ Image.png');
    ;

    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0.9;
    margin: 0 auto;
    border-radius: 10px;
}

.banner-text {
    color: white;
    font-size: 30px;
}

.section2 {
    color: red;
    text-align: center;
    font-size: 50px;
}

.section2 h2 {
    color: black;
    text-align: center;
}

.section2-img-div {
    display: flex;
    justify-content: center;
}

.section3 {
    height: 600px;
    width: 70%;
    background: 
        url(./images/Group\ 70.png) no-repeat right center,

        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),

        url(./images/Vectorrr.png);
    background-size: contain, cover, cover;
    position: relative;
    margin: 50px auto;
}

.section3 h3,.section3 h1,.section3 p{color: white;padding-left: 100px;}
.section3 h1{font-size: 60px;}
.section3 div{padding-top: 100px;}

.section4{width: 900px;height: 700px;margin: 0 auto;text-align: center;font-size: 50px;font-weight:800 ;}
.section4 span,.section-6-span{color: red;}
.section4-div{background: linear-gradient(180deg, rgba(255, 0, 0, 0.301), rgba(255, 255, 255, 0.5));padding: 50px;border-radius: 10px;}
.section4 button{background-color: red;color: white;padding: 10px;border-radius: 10px;border-style: none;}
.section-5{display: flex;justify-content: center;margin: 20px 500px;gap:20px}
.section-5-div-3 img{width: 20%;}
.section-5-div-2 img{border: 10px solid red;border-radius: 50%;padding: 20px;width: 200px;}
.section-6{justify-content: center;display: flex;flex-direction: column;text-align: center;margin: 200px 0px;font-size: 30px;padding: 0px 500px;}

.section-7-div{position: relative;margin: 0px 350px;height: 800px;}

.section-7-img-2{position: absolute;right: 0;}
.section-7-img-3{position: absolute;top: 0;}
.section-7-img-1{position: absolute;top:  450px;}
.section-6-img1{display: flex;gap: 20px;}
.section-8-div-1{text-align: left;margin: 0px 300px;}

.section-8-div-2{display: flex;flex-wrap: wrap;gap: 50px;justify-content: center;}

.section-9{margin: 0 auto;margin: 100px 300px;text-align: center;background-color: rgba(222, 184, 135, 0.288);border-radius: 10px;padding: 50px;}
.section-9 input,.section-9 button{height: 40px;}
.section-9 input{border-bottom-left-radius: 10px;border-top-left-radius: 10px;border: none;width: 300px;}
.section-9 button{border-bottom-right-radius: 10px;border-top-right-radius: 10px;background-color: rgba(255, 0, 0, 0.671);color: white;border: none;width: 80px;}
footer{background-color: black;padding: 100px 0px;}
.footer-flex{display: flex;justify-content: space-around;color: white;}
.footer-icons{display: flex;justify-content: center;gap: 20px;font-size: 50px;}
.last-part{display: flex;color: white;padding: 100px 0px;justify-content: space-around;}