.banner-div{height: 400px;width: 900px;
    background:  linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url('./images/Banner\ Image.png');;
    
    background-size: cover;display: flex;justify-content: center;align-items: center;text-align: center;opacity: 0.9;margin: 0 auto;}
.banner-text{color: white;font-size: 30px;}
